body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgray;
}

main {
    /* Turns this element into a flexbox */
    display: flex;
    margin-top: 2%;
}

header {
    font-size: 46px;
    text-align: center;
    color: violet;
}