body {
    background-color: rgb(52, 53, 56);
}

header {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 46px;
    color: rgba(232, 102, 236);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subh1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    max-width: 60%;
    margin: 2% 20% 5% 20%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.code-card {
    border: 3px solid whitesmoke;
    margin: 2.5% 5% 2.5% 5%;
    padding: 1em 1em 0em 1em;
    width: 20%;
    min-width: 450px;
    height: 450px;
    flex-wrap: wrap;
}

.code-card p {
    color: rgba(232, 102, 236);
    text-align: center;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-header {
    position: relative;
    margin-top: -45px;
    font-size: 32px;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: white;
    color: rgba(232, 102, 236);
    background-color: rgb(85, 85, 85);
    text-align: center;
    padding: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* transitions*/

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card .card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.codebox {
    border-radius: 10px;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    min-height: 175px;
    align-items: flex-end;
    padding: 5%;
    margin-bottom: 0%;
}

div.codebox code pre {
    position: center;
    top: 50%;
    right: 50%;
    color: white;
    font-size: 16px;
}


/* Text selection true for code snippets*/

.all {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: rgba(232, 102, 236);
    margin-top: auto;
}